@forward "sanitize.css";
@forward "root";

a {
  text-decoration: none;
  color: inherit;
  transition: var(--motion-duration);
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 ;
}
