:root {
    accent-color: var(--global-accent-color);
    font-family: var(--font-family-body);
    color-scheme: light;
    color: var(--body-font-color);
    background-color: var(--body-bgc-color);

    // Fixes
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

