:root {
    accent-color: var(--global-accent-color);
    font-family: var(--font-family-body);
    color-scheme: light dark;
    color: var(--body-font-color);
    background-color: var(--body-bgc-color);

    --s-xs: .25rem;
    --s-sm: .5rem;
    --s-md: 1rem;
    --s-lg: 1.5rem;
    --s-xl: 2rem;
    --s-xxl: 4rem;

    /* Fixes */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

