$s-spacing-xxs:     .25rem;
$s-spacing-xs:      .5rem;
$s-spacing-sm:      .75rem;
$s-spacing-md:      1rem;
$s-spacing-lg:      1.5rem;
$s-spacing-xl:      2rem;
$s-spacing-xxl:     4rem;

$s-spacing-prefix:  's-spacing-';
$s-spacing-default-size: 'md';
$s-spacing-default-var: var(--#{$s-spacing-prefix + $s-spacing-default-size});

$s-map-spacing: (
        'null':   0,
        'xxs':    $s-spacing-xxs,
        'xs':     $s-spacing-xs,
        'sm':     $s-spacing-sm,
        'md':     $s-spacing-md,
        'lg':     $s-spacing-lg,
        'xl':     $s-spacing-xl,
        'xxl':    $s-spacing-xxl,
);
