@use "../../tools/dark-selector" as *;

.admin-menu-item {
    padding: 20px 0;
    border-top: 1px solid var(--bd-color-brand-softest);

    &:last-child {
        border-bottom: 1px solid var(--bd-color-brand-softest);
    }
}

.main {
    display: grid;
    gap: var(--spacing-rem-xxs);

    .deactivated & {
        opacity: .5;
    }
}

.deactivated-icon {
    --current-color: var(--color-gray-200);
    color: var(--current-color);

    @include t-dark-mode {
        --current-color: var(--color-gray-600);
    }
}

.price {
    color: var(--global-accent-color);
}
