.content-page {
  color: var(--content-page-font-color);
  background-color: var(--content-page-bgc-color);
  transition: var(--motion-duration);
  margin: calc(var(--content-page-overlap) * -1) 0;
  border-radius: var(--content-page-overlap);
  position: relative;
  z-index: 1;
  grid-row: span 2;

  padding: var(--content-page-y-padding) var(--content-page-x-padding);
}

.reset-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
