@custom-media --s-bp-min-width--xs screen and (min-width: 600px);
@custom-media --s-bp-min-width--sm screen and (min-width: 767px);
@custom-media --s-bp-min-width--md screen and (min-width: 992px);
@custom-media --s-bp-min-width--lg screen and (min-width: 1200px);

@custom-media --s-bp-max-width--xs screen and (max-width: 600px);
@custom-media --s-bp-max-width--sm screen and (max-width: 767px);
@custom-media --s-bp-max-width--md screen and (max-width: 992px);
@custom-media --s-bp-max-width--lg screen and (max-width: 1200px);
