@custom-media --min-width--xs screen and (min-width: 600px);
@custom-media --min-width--sm screen and (min-width: 767px);
@custom-media --min-width--md screen and (min-width: 992px);
@custom-media --min-width--lg screen and (min-width: 1200px);

@custom-media --max-width--xs screen and (max-width: 600px);
@custom-media --max-width--sm screen and (max-width: 767px);
@custom-media --max-width--md screen and (max-width: 992px);
@custom-media --max-width--lg screen and (max-width: 1200px);
