@use '@css/settings/base/_s-spacing.scss' as spacing;
@use "@css/tools/custom-properties-creator.scss" as *;

:root {
  --global-accent-color:    var(--color-brand-primary-500);

  --body-font-color:        var(--color-gray-100);
  --body-bgc-color:         var(--color-gray-900);

  @include custom-properties-creator(spacing.$s-map-spacing, spacing.$s-spacing-prefix);

  --font-weight-normal: var(--font-weight-400);
  --font-weight-bold: var(--font-weight-700);
}

@media (prefers-color-scheme: light) {
  :root {
    --body-font-color: var(--color-gray-900);
    --body-bgc-color: white;
  }
}
