$test-custom: (
        'padding': 4rem,
        'margin': 1rem,
);


@mixin create-custom() {
  @each $key, $value in $test-custom {
    --#{$key}: #{$value};
  }
}

.testclass {
  @include create-custom;
  padding: var(--padding);
  background-color: red;
}

.caterina {
  color: yellow;
}

$test-sizes: (
        'xs': var(--s-xs),
        'sm': var(--s-sm),
        'md': var(--s-md),
);

.o-test {
  --current-size: var(--s-md);
  padding: var(--current-size);
  border: 1px solid red;
}

@each $property, $value in $test-sizes {
  @at-root .o-test-#{$property} {
    --current-size: #{$value};
  }
}
