.base-input {
  display: grid;
  row-gap: var(--spacing-rem-xs);
}

.input {
  font-size: var(--font-size-200);
  padding: var(--spacing-rem-md) var(--spacing-rem-sm);
  border: 1px solid var(--color-gray-200);
  border-radius: var(--border-radius-xs);

  &.error {
    background-color: var(--color-feedback-error-100);
    border-color: var(--color-feedback-error-400);
  }

  &[disabled] {
    background-color: var(--color-gray-400);
    border-color: transparent;
  }
}

.error-message {
  font-size: var(--font-size-100);
  font-style: italic;
  color: var(--color-feedback-error-400);
}

.label {
  font-size: var(--font-size-100);
}
