@use '@css/settings/base/_s-spacing.scss' as spacing;
@use "@css/tools/_custom-properties-creator.scss" as *;

:root {
  --dimension-core:     16;

  --proportion-null:    0;
  --proportion-xxs:     #{spacing.$s-proportion-xxs};
  --proportion-xs:      #{spacing.$s-proportion-xs};
  --proportion-sm:      #{spacing.$s-proportion-sm};
  --proportion-md:      #{spacing.$s-proportion-md};
  --proportion-lg:      #{spacing.$s-proportion-lg};
  --proportion-xl:      #{spacing.$s-proportion-xl};
  --proportion-xxl:     #{spacing.$s-proportion-xxl};
  --proportion-xxxl:     #{spacing.$s-proportion-xxxl};

  --spacing-md:         calc(var(--dimension-core) * 1px);                      /* 16px */
  --spacing-xxs:        calc(var(--spacing-md)   *  var(--proportion-xxs));     /* 4px  */
  --spacing-xs:         calc(var(--spacing-md)   *  var(--proportion-xs));      /* 8px  */
  --spacing-sm:         calc(var(--spacing-md)   *  var(--proportion-sm));      /* 12px */
  --spacing-lg:         calc(var(--spacing-md)   *  var(--proportion-lg));      /* 24px */
  --spacing-xl:         calc(var(--spacing-md)   *  var(--proportion-xl));      /* 32px */
  --spacing-xxl:        calc(var(--spacing-md)   *  var(--proportion-xxl));     /* 48px */
  --spacing-xxxl:       calc(var(--spacing-md)   *  var(--proportion-xxxl));    /* 64px */

  --spacing-rem-xxs:    calc(var(--proportion-xxs) * 1rem);                     /* 0.25rem */
  --spacing-rem-xs:     calc(var(--proportion-xs) * 1rem);                      /* 0.5rem */
  --spacing-rem-sm:     calc(var(--proportion-sm) * 1rem);                      /* 0.75rem */
  --spacing-rem-md:     calc(var(--proportion-md) * 1rem);                      /* 1rem */
  --spacing-rem-lg:     calc(var(--proportion-lg) * 1rem);                      /* 1.5rem */
  --spacing-rem-xl:     calc(var(--proportion-xl) * 1rem);                      /* 2rem */
  --spacing-rem-xxl:    calc(var(--proportion-xxl) * 1rem);                     /* 3rem */
  --spacing-rem-xxxl:   calc(var(--proportion-xxxl) * 1rem);                    /* 4rem */

  --border-radius-xs:   4px;
  --border-radius-md:   8px;
  --border-radius-lg:   16px;
  --border-radius-xl:   32px;
  --border-radius-full: 1000px;

  --border-with: 1px;

  --font-size-100:      0.75rem;
  --font-size-200:      1rem;
  --font-size-300:      1.5rem;
  --font-size-400:      2rem;

  --font-family-body:   'Noto Sans Display', sans-serif;
  --font-family-serif:  'Noto Serif', serif;

  --font-weight-400:    400;
  --font-weight-700:    700;

  --transition-duration-500: .3s;

  --color-gray-50:                 #f4f3f1;
  --color-gray-100:                #e9e6e2;
  --color-gray-200:                #d6d2cb;
  --color-gray-300:                #c3beb6;
  --color-gray-400:                #aca59a;
  --color-gray-500:                #958e83;
  --color-gray-600:                #7a746c;
  --color-gray-700:                #5d5a56;
  --color-gray-800:                #42403d;
  --color-gray-900:                #282725;

  --color-brand-primary-50:             #fcf4e8;
  --color-brand-primary-100:            #faead1;
  --color-brand-primary-200:            #f5d4a3;
  --color-brand-primary-300:            #f0bf75;
  --color-brand-primary-400:            #ebaa47;
  --color-brand-primary-500:            #e49319;
  --color-brand-primary-600:            #cf8517;

  --color-feedback-info-100:            #e5f3ff;
  --color-feedback-info-400:            #027ae9;
  --color-feedback-success-100:         #e9fbed;
  --color-feedback-success-400:         #43be5e;
  --color-feedback-warn-100:            #fff8dd;
  --color-feedback-warn-600:            #d3a708;
  --color-feedback-error-100:           #ffece8;
  --color-feedback-error-400:           #e54b29;

  // EJEMPLO
  //
  // --brand-hue:      270deg;
  // --brand-primary-250:   hsl( var( --brand-hue ) 100% 25% );
  // --brand-primary-500:   hsl( var( --brand-hue ) 100% 50% );
  // --brand-primary-750:   hsl( var( --brand-hue ) 100% 75% );
}
