@use "../settings/s-spaces" as space;

.o-box {
  --current-size: #{space.$s-size-default};
  padding: var(--current-size);
}

@each $key, $value in space.$s-map-sizes {
  @if $value != space.$s-size-default {
    .#{$key} {
      --current-size: #{$value};
      background-color: red;
    }
  }
}
