@use "../settings/base/_s-spacing.scss" as spacing;
@use "../tools/functions/var-name.scss" as f;

.o-inset {
  --current-size: #{spacing.$s-spacing-default-var};
  padding: var(--current-size);
  border: 1px solid red;
}

@each $key, $value in spacing.$s-map-spacing {
  @if ($key != spacing.$s-spacing-default-size) {
    .#{$key} {
      --current-size: #{f.var-name(#{spacing.$s-spacing-prefix}, #{$key})};
    }
  }
}

.squish {
  padding-top: calc(var(--current-size) / 2);
  padding-bottom: calc(var(--current-size) / 2);
}

.stretch {
  padding-left: calc(var(--current-size) / 2);
  padding-right: calc(var(--current-size) / 2);
}

.section {
  padding-left: 0;
  padding-right: 0;
}
