@use "../settings/base/_s-spacing.scss" as spacing;
@use "../tools/functions/var-name.scss" as f;

.o-stack {
  display: grid;
  --current-size: #{spacing.$s-spacing-default-var};
  row-gap: var(--current-size);
  border: 1px solid green;
}

@each $key, $value in spacing.$s-map-spacing {
  @if ($key != spacing.$s-spacing-default-size) {
    .#{$key} {
      --current-size: #{f.var-name(#{spacing.$s-spacing-prefix}, #{$key})};
    }
  }
}
