@use "../settings/base/_s-spacing.scss" as spacing;
@use "../tools/current-size";

.o-stack {
  display: grid;
  --o-stack-current-size: #{spacing.$s-spacing-default-var};
  row-gap: var(--o-stack-current-size);
}

@include current-size.t-object-current-size('o-stack')
